* {
    margin: 0;
    padding: 0;
}
header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(87, 192, 233);
    color: white;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
  }
  .card {
    width: 80%;
    margin: 35px auto;
    border: 3px solid rgb(2, 131, 206);
    box-shadow: 5px 5px #b3b3b3;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }